@if(isOpen && recipe){

    <div class="modal-overlay" (click)="closeModal()"> <!-- para cerrar el modal cuando tocamos el fondo -->
      <div class="modal-content" (click)="$event.stopPropagation()"> <!-- el stop propagation hace q no se expanda -->
        <button class="close-button" (click)="closeModal()">X</button> <!-- para cerrarlo con la cruz -->
        <img [src]="recipe.image" alt="">
    
        <div>
          @for( step of steps$ | async; track step.number){
            <li class="step">
              {{step.step}}
            </li>
          }
        </div>
    
      </div>
    </div>
    }
