<app-header></app-header>
<div class="container">

    <section class="recetas">
      @if( breakfast$ | async; as breakfasts ){
        @for( breakfast of breakfasts; track breakfast.id){
          <div class="receta" (click)="openModal(breakfast)">
            <img [src]="breakfast.image" alt="">
            <p>{{breakfast.title}}</p>
            <button
            (click)="toggleFavorite(breakfast); $event.stopPropagation()"
            class="favorite-button"
            [class.favorited]="isFavourite(breakfast.id)"
            >
            ♥
          </button>
          </div>
        }
      }
    </section>
  </div>


  <app-modal-info
  [isOpen]="isModalOpen"
  [recipe]="breakfastSelected"
  (close)="closeModal()"
>
</app-modal-info>