<app-header></app-header>
<div class="container">
  
    <section class="recetas">
      <div class="receta">
        <img src="" alt="Tortillas de Espinaca y Queso" />
        <p>Tortillas de Espinaca y Queso</p>
      </div>
      <div class="receta">
        <img src="" alt="Carrot cake" />
        <p>Carrot cake</p>
      </div>
      <div class="receta">
        <img src="" alt="Smoothie de Plátano y Espinacas" />
        <p>Smoothie de Plátano y Espinacas</p>
      </div>
      <div class="receta">
        <img src="" alt="Galletas de Avena y Pasas" />
        <p>Galletas de Avena y Pasas</p>
      </div>
      <div class="receta">
        <img src="" alt="Yogur con Granola y Frutas" />
        <p>Yogur con Granola y Frutas</p>
      </div>
      <div class="receta">
        <img src="" alt="Panqueques" />
        <p>Panqueques</p>
      </div>
    </section>
  </div>