<app-header></app-header>
<div class="container">

  <section class="recetas">
    @if( lunches$ | async; as lunches ){
      @for( lunch of lunches; track lunch.id){
        <div class="receta" (click)="openModal(lunch)">
          <img [src]="lunch.image">
          <p>{{lunch.title}}</p>
          <button
          (click)="toggleFavorite(lunch); $event.stopPropagation()"
          class="favorite-button"
          [class.favorited]="isFavourite(lunch.id)"
          >
          ♥
        </button>
        </div>
      }
    }
  </section>
  </div>


  <app-modal-info
  [isOpen]="isModalOpen"
  [recipe]="lunchSelected"
  (close)="closeModal()"
>
</app-modal-info>